@model Blogscape.Views.Home.ViewBlogModel
@{
  
}
<h1 class="luckiest-guy-regular text-danger"> Blog - @Model.Blog.Id</h1>

<div class="form-group mt-2">
    <label class="reenie-beanie-regular" asp-for="@Model.Blog.Title"></label>
    <input asp-for="@Model.Blog.Title" class="form-control" disabled />
</div>

<div class="form-group mt-2">
    <label class="reenie-beanie-regular" asp-for="@Model.Blog.Content"></label>
    <textarea asp-for="@Model.Blog.Content" disabled class="form-control " rows="15"></textarea>
</div>

<div class="form-group mt-2">
    <label class="reenie-beanie-regular" asp-for="@Model.Blog.PublishedDate"></label>
    <input asp-for="@Model.Blog.PublishedDate" disabled class="form-control " />
</div>

<div class="form-group mt-2">
    <label class="reenie-beanie-regular" asp-for="@Model.Blog.Author"></label>
    <input asp-for="@Model.Blog.Author" disabled class="form-control " />
</div>